@using Bgg.Net.Common.RequestHandlers.Things;
@using System.Web;
@page "/collection/item/{ItemId}"
@inject AppState _appState
@inject ThingHandler _thingHandler

<h3>CollectionItemDetailPage</h3>

@if (Item == null)
{
    <LoadingComponent />
}
else
{
    <div class="container corners-rounded" style="background-color: teal; color:white;">

        <div class="row">
            <div class="col-md">
                <img src="@Item.Image" class="corners-rounded" style="width:100%" />
            </div>
            <div class="col-md-9">
                <CollectionItemDetailHeaderComponent Item="@Item" />
            </div>
        </div>

        
        <Tabs RenderMode="TabsRenderMode.LazyLoad" SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                <Tab Name="overview">Overview</Tab>
                <Tab Name="insights">Insights</Tab>
                <Tab Name="log">Log Play</Tab>
                <Tab Name="forums">Forums</Tab>
                <Tab Name="images">Images</Tab>
                <Tab Name="videos">Videos</Tab>
                <Tab Name="files">Files</Tab>
            </Items>
            <Content>
                <TabPanel Name="overview">
                    @HttpUtility.HtmlDecode(Item.Description)
                </TabPanel>
                <TabPanel Name="insights">
                    Content for insights.
                </TabPanel>
                <TabPanel Name="log">
                    Content for Log Play.
                </TabPanel>
                <TabPanel Name="forums">
                    Content for Forums.
                </TabPanel>
                <TabPanel Name="images">
                    Content for Images.
                </TabPanel>
                <TabPanel Name="videos">
                    Content for Videos.
                </TabPanel>
                <TabPanel Name="files">
                    Content for Files.
                </TabPanel>
            </Content>
        </Tabs>
    </div>
}