@using Bgg.Net.Common.RequestHandlers.Plays;
@using Bgg.Net.Common.Models.Requests;
@using Dgi.Client.Clients.Bgg;
@using Bgg.Net.Web.Services;
@using Blazorise;
@inject IPlaysClient _playsClient;
@inject ILogger<LogPlayComponent> _logger;
@inject IBggLoginCookieService _bggLoginService;

<EditForm Model="@LogPlayRequest" OnValidSubmit="@LogPlay">
    <DataAnnotationsValidator />
    <Blazorise.ValidationSummary />
    <div class="form-floating col-md-5 mx-auto pb-3">
        <div>
            <label for="playDateInput" class="text-small">When did you play?</label>
            <InputDate @bind-Value="LogPlayRequest.PlayDate" id="playDateInput" class="form-control" />
        </div>
        <div>
            <label for="quantityInput" class="text-small">How many times did you play? </label>
            <InputNumber @bind-Value="LogPlayRequest.Quantity" id="quantityInput" class="form-control" />
        </div>
        <div class="mt-3" style="">
            <label for="playerDetailAccordion" class="text-small">Player Details</label>
            <Accordion id="playerDetailAccordion">
                <Collapse Visible="@collapsePlayers">
                    <CollapseHeader style="background-color:white">
                        <AccordionToggle class="text-small" @onclick="AccordionToggle"><h5>@expandText</h5></AccordionToggle>
                    </CollapseHeader>
                    <CollapseBody style="background-color:teal">
                        @foreach (var item in LogPlayRequest.Players.Select((Value, Index) => new { Index, Value }))
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col">Add Player:  </div>

                                    <div class="col-sm-1">
                                        <Button Color="Blazorise.Color.Danger" @onclick="() => RemovePlayer(item.Index)">X</Button>
                                    </div>
                                </div>
                                <PlayerDetailComponent Player="@item.Value" />
                            </div>
                        }
                        <Button Color="Color.Secondary" @onclick="AddPlayer">Add Player</Button>
                    </CollapseBody>
                </Collapse>
            </Accordion>
        </div>
        <div>
            <label for="locationInput" class="text-small">Where did you play?</label>
            <InputText @bind-Value="LogPlayRequest.Location" id="locationInput" class="form-control" />
        </div>
        <div>
            <label for="lengthInput" class="text-small">How long did you play (in minutes)?</label>
            <InputNumber @bind-Value="LogPlayRequest.Length" id="lengthInput" class="form-control" />
        </div>
        <div>
            <label for="completeInput" class="text-small">Did you complete the game?</label>
            <InputCheckbox @bind-Value="Complete" id="completeInput" />
        </div>
        <div>
            <label for="commentsInput" class="text-small">Comments</label>
            <InputTextArea @bind-Value="LogPlayRequest.Comments" id="commentsInput" class="form-control" />
        </div>
        <div class="mt-3 text-center">
            <button type="submit" class="btn btn-primary mx-auto">Log It</button>
        </div>
    </div>
</EditForm>